/$STDERR.txt
/$STDOUT.txt
/Progress.log
/___Lnk.ind
/obj
/SI
/Source/Bootloader/Source/01_Configuration/01_IDE/*.map
/Source/Bootloader/Source/01_Configuration/01_IDE/objs
/Source/Bootloader/Source/01_Configuration/01_IDE/OUT/vicp.*
/Source/Bootloader/Source/01_Configuration/01_IDE/obj/vicp.dep
/Source/Bootloader/Source/01_Configuration/01_IDE/obj/vicp.dla
/Source/Bootloader/Source/01_Configuration/01_IDE/obj/vicp.dnm
/Source/Bootloader/Source/01_Configuration/01_IDE/obj/vicp.elf
/Source/Bootloader/Source/01_Configuration/01_IDE/obj/vicp.map
/Source/Bootloader/Source/01_Configuration/01_IDE/obj/vicp.run
/OUT/vic*
/OUT/checksum.txt
/Source/Bootloader/*.IAB
/Source/Bootloader/*.IAD
/Source/Bootloader/*.IMB
/Source/Bootloader/*.IMD
/Source/Bootloader/*.PFI
/Source/Bootloader/*.PO
/Source/Bootloader/*.PR
/Source/Bootloader/*.PRI
/Source/Bootloader/*.PS
/Source/Bootloader/*.SearchResults
/Source/Bootloader/*.WK3
/Source/Bootloader/*.txt
/Source/Bootloader/SI
/Source/vicp/ComplexDriver/CANdriver/tool/gen979

